<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Post</b>List</a>
    </div>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>USER</th>
                <th>POST CATEGORY</th>
                <th>TITLE</th>
                <th>LIKES</th>
                <th>COMMENTS</th>
                <th>TEXT</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            {{# each posts}}
            <tr>
                <td>{{this.count}}</td>
                <td>{{this.user.name}}</td>
                <td>{{this.postCategory.name}}</td>
                <td>{{this.name}}</td>
                <td>{{this.total_likes}}</td>
                <td>{{this.total_comments}}</td>
                <td>{{this.text}}</td>
                <td>
                    {{# equality this.status "Active"}}
                    <span class="tags">Active</span>
                    {{/equality}}
                    {{# equality this.status "Blocked"}}
                    <span class="tags" style="background: rgb(202, 111, 129)" >Blocked</span>
                    {{/equality}}
                    {{# equality this.status "New"}}
                    <span class="tags" style="background: rgb(112, 190, 226)">New</span>
                    {{/equality}}
                </td>
                <td>
                    {{# equality this.status "Active"}}
                    <a href="/forum/posts/block/{{../this._id}}" class="btn btn-primary btn-sm ">Block {{this._id}}</a>
                    {{/equality}}

                    {{# equality this.status "Blocked"}}
                    <a href="/forum/posts/active/{{../this._id}}" class="btn btn-primary btn-sm">Active</a>
                    {{/equality}}

                    {{# equality this.status "new"}}
                    <a href="/forum/posts/active/{{../this._id}}" class="btn btn-primary btn-sm">Active</a>
                    <a href="/forum/posts/block/{{../this._id}}" class="btn btn-primary btn-sm ">Block</a>
                    {{/equality}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>