    

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Order</b>List</a>
    </div>

    <form action="/orders/ordersByMonth" method="POST">
        <label for="startDate">Select Month :</label>
        <input name="startDate"  id="startDate" class="date-picker" />
        <button type="submit" >submit</button>
    </form>
    <div class="row">
        <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport"
            onclick="javascript:xport.toXLS('ptable');">
            <li class="fa fa-download" style="padding: 5px"></li>Export as Excel
        </button>
        
    </div><br>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>CUSTOMERS</th>
                    <th>STATUS</th>
                    <th>TOTAL</th>
                    <th>DATE ADDED </th>
                    <th>DATE MODIFIED</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {{# each orders}}
                <tr>
                    <td>{{this.count}}</td>
                    <td>{{this.users.profile.name}}</td>
                    <td>{{this.currentStatus}}</td>
                    <td>{{this.totalAmount}}TK</td>
                    <td>{{formatDate this.created}}</td>
                    <td>{{formatDate this.lastModified }}</td>
                    <td><a href="/orders/orderDetails/{{this._id}}" data-toggle="tooltip" data-placement="top"
                            title="Edit" style="padding: 0%" class="btn btn-primary btn-sm">
                            Show Details
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
  $(function () {
    $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'm/yy',
            onClose: function(dateText, inst) { 
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
            });
    });

</script>