<%- include('../partials/_head') %>

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Bundle</b>List</a>
    </div>
    <div class="row">
        <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport"
            onclick="javascript:xport.toXLS('ptable');">
            <li class="fa fa-download" style="padding: 5px"></li>Export as Excel
        </button>
    <a  class="btn bg-purple" href="/promotions/newBundleOffer" style="float: right;margin: 10px 5px;"><li class="fa fa-plus-square" style="padding: 5px"></li>New Bundle Offer</a>
</div><br>
    <div style="background-color: white" id="abcd" >
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>CREATED</th>
                <th>ENABLED</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i=0; i< bundle.length; i++){ %>
            <tr>
                <td><%=bundle[i].count%></td>
                <td><%=bundle[i].name%></td>
                <td><%= moment(bundle[i].created).format( 'MMM-DD-YYYY')%></td>
                <% if(bundle[i].enabled) { %>
                <td><span class="tags">Enabled</span></td>
                <% } else { %>
                <td><span  class="tags"  style="background: rgb(202, 111, 129)">Disabled</span></td>
                <% } %>
                <td>
                    <a data-toggle="tooltip" title="Edit info" class="btn btn-primary btn-sm" href="/promotions/updateBundle/<%=bundle[i]._id%>">Edit</a>
                    <% if(bundle[i].enabled) { %>
                    <a href="/promotions/changeBundle/<%=bundle[i]._id%>/false" data-toggle="tooltip" title="Disable the Bundle"
                        class="btn btn-primary btn-sm">Disable</a>
                    <% } else { %>
                    <a href="/promotions/changeBundle/<%=bundle[i]._id%>/true" data-toggle="tooltip" title="Enable the Bundle"
                        class="btn btn-primary btn-sm">Enable</a>
                    <% } %>
                </td>
            </tr>

            <% } %>
            </tbody>
        </table>
    </div>
   
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>
<%- include('../partials/_footer') %>