<%- include('../partials/_head') %>



<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Coupon</b>List</a>
    </div>
    <div class="row">
    <a  class="btn bg-purple" href="/promotions/NewCoupon" style="float: right;margin: 10px 28px;"><li class="fa fa-plus-square" style="padding: 5px"></li>New coupon</a>
</div>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>Coupon</th>
                <th>Code</th>
                <th>Discount</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i=0; i< coupon.length; i++){ %>
            <tr>
                <td><%=coupon[i].count %></td>
                <td><%=coupon[i].name %></td>
                <td><%=coupon[i].code %></td>
                
                <td><% if (coupon[i].usePercentageCoupon){ %>
                    <%=coupon[i].CouponPercent %>%<% }else{ %><%=coupon[i].CouponAmount %>TK<% } %></td>
                
                <td><%=moment(coupon[i].created).format( 'MMM-DD-YYYY')%>  %></td>
                <td><%=coupon[i].createdBy.name %></td>
                <% if(coupon[i].enabled) { %>
                <td ><span class="tags">Enabled</span></td>
               <% } else { %>
                <td><span class="tags" style="background: rgb(202, 111, 129)">Disabled</span></td>
                <% } %>

                <td>
                    <a data-toggle="tooltip" title="Edit info" class="btn btn-default" href="/promotions/CouponEdit/<%=coupon[i]._id %>"
                        >Edit</a>
                    <% if(coupon[i].enabled) { %>
                    <a href="/promotions/changeCoupon/<%=coupon[i]._id %>/false" data-toggle="tooltip" title="Disable the coupon"
                        class="btn btn-default">Disable</a>
                   <% } else { %>
                    <a href="/promotions/changeCoupon/<%=coupon[i]._id %>/true" data-toggle="tooltip" title="enable the coupon"
                        class="btn btn-default">Enable</a>
                    <% } %>

                </td>
            </tr>

            <% } %>

            </tbody>
        </table>
    </div>

</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>
<%- include('../partials/_footer') %>