<div class="container-fluid">


    <div class="box">
        <div id="#PRODUCT"></div>
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px;"></li><span>DISCOUNT INFO</span><span
                style="float:right" id="sp">+</span>
        </button>

        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

                        <div class="well" style="background-color: white; ">
                            <form action="/promotions/SaveUpdateDiscount" id="dis1" method="POST">
                                <input type="hidden" class="form-control inp" name="id" id="id" value="{{discount._id}}">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="name">Discount Name<span style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="name" id="name"
                                            value="{{discount.name}}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="type">Discount Type</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control inp" name="type" id="type" required>
                                            <option value="category"
                                                {{# equality "category" discount.type}}selected{{/equality}}>Assigned to
                                                Category</option>
                                            <option value="subcategory"
                                                {{# equality "subcategory" discount.type}}selected{{/equality}}>Assigned
                                                to Sub Category</option>
                                            <option value="brand"
                                                {{# equality "brand" discount.type}}selected{{/equality}}>Assigned to
                                                Brand</option>
                                            <option value="product"
                                                {{# equality "product" discount.type}}selected{{/equality}}>Assigned to
                                                Product</option>
                                                 <option value="totalOrder" {{# equality "totalOrder" discount.type}}selected{{/equality}}>Assigned to Total Amount</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="usePercentage">Use Percentage
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        {{# if discount.usePercentage}}
                                        <input type="checkbox" name="usePercentage" id="usePercentage" checked>
                                        {{else}}
                                        <input type="checkbox" name="usePercentage" id="usePercentage">
                                        {{/if}}
                                    </div>
                                </div>
                                <br>
                                <div class="row" id="discount_percentage">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="discountPercent">Discount Percentage<span
                                                style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="discountPercent"
                                            id="discountPercent" value="{{discount.discountPercent}}">
                                    </div>
                                </div>
                            

                                <div class="row" id="discount_amount">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="discountAmount">Discount Amount<span
                                                style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="discountAmount"
                                            id="discountAmount" value="{{discount.discountAmount}}">
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="maximunDiscountAmount">Maximun Discount Amount
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="maximunDiscountAmount"
                                            id="maximunDiscountAmount" value="{{discount.maximunDiscountAmount}}">
                                    </div>
                                </div>

                        
                                <br> 
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="days">Days</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="days" id="days" value="{{discount.days}}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="maxNumber">Maximun Number
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="maxNumber" id="maxNumber" value="{{discount.maxNumber}}">
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-default btn-md">Update Info</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

{{# if discount.usePercentage}}
<script>
    document.getElementById("discount_percentage").style.display = "block";
    document.getElementById("discount_amount").style.display = "none";
</script>
{{else}}
<script>
    document.getElementById("discount_percentage").style.display = "none";
    document.getElementById("discount_amount").style.display = "block";
</script>
{{/if}}

{{# if discount.couponrequired}}
<script>
    document.getElementById("coupon-required").style.display = "block";
</script>
{{else}}
<script>
    document.getElementById("coupon-required").style.display = "none";
</script>
{{/if}}


</div>
<script>
    $(document).ready(function () {

    $('#dis1').validate({ // initialize the plugin
        rules: {
            name: {
                alphanumeric:true,
                required: true,
                maxlength:30
            },
             discountPercent:{
                required: true,
                digits:true,
                max:100,
                min:1
            },
            discountAmount:{
                required: true,
                digits:true
            },
            maximunDiscountAmount:{
                required: false,
                digits:true
            },
            days: {
                required: false,
                digits: true
            },
            maxNumber: {
                required: false,
                digits: true
            }
        },
        submitHandler: function (form) { // for demo
            alert('valid form submitted'); // for demo
            return false; // for demo
        }
    });
});
</script>