<div class="container-fluid">

    <div class="box">
        <div id="#PRODUCT"></div>
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px;"></li><span>DISCOUNT INFO</span><span
                style="float:right" id="sp">+</span>
        </button>

        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

                        <div class="well" style="background-color: white; ">
                            <form action="/promotions/SaveUpdateBundle" method="POST">
                                <input type="hidden" class="form-control inp" name="id" id="id" value="{{bundle._id}}">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="name">Bundle Name
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="name" id="name"
                                            value="{{bundle.name}}">
                                    </div>
                                </div>
                                <br>   

                                {{!-- <div class="row" id="discount_amount">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="sellingPrice">Discount Amount
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="sellingPrice"
                                            id="sellingPrice" value="{{bundle.price}}">
                                    </div>
                                </div>
                                <br> --}}
            
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="days">Days</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="days" id="days" value="{{bundle.days}}">
                                    </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-primary btn-md">Update Info</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div id="IMAGES1"></div>
        <button class="collapsible">
            <li class="fa fa-picture-o panel-icon" style="padding: 5px"></li><span>IMAGES</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <a name="image_sec1"></a>
                        <div class="well">
                            <div id="all_img" class="row">
                            </div>

                            <div class="row">
                                
                                {{# if  bundle.image}}
                                {{!-- <div class="col-sm-3"> --}}
                                    <center>
                                        <img src="{{bundle.image}}" alt=""
                                        style="background-image: image(); width:100px; height:100px;">  
                                    </center>
                                   
                                    {{!-- <form action="/products/img/detete" method="POST">
                                        <input type="hidden" name="id" id="id" value="{{../product._id}}">
                                        <input type="hidden" name="img" id="img" value="{{this}}">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form> --}}
                                {{!-- </div> --}}
                                {{/if}}
                               
                            </div>
                            <div class="row">

                            </div>
                            <hr>
                            <br>
                            <form action="/promotions/bundleImage/update" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="img_number" id="img_number">
                                
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="imagePath3">Select Image
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="hidden" name="id" id="id" value="{{ bundle._id }}">
                                        <input type="file" name="image" id="image"
                                            accept="image/png, image/jpeg" >
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" id="save_img"
                                            class="btn btn-primary btn-md">Update</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

 <div class="box">
        <div id="RELATED1"></div>
        <button class="collapsible">
            <li class="fa fa-object-group panel-icon" style="padding: 5px"></li><span>ADD PRODUCT</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            {{# if bundle }}
                            <form action="/promotions/addProduct" method="POST">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="product">Select Product
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="hidden" name="id" id="id" value="{{ bundle._id }}">
                                        <select name="product" class="form-control inp" id="product">
                                            {{# each product}}
                                            <option value="{{this._id}}">{{this.productName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-primary btn-md">Add Product</button>
                                    </center>
                                </div>
                            </form><br>
                            <hr>
                            <table id="ptable" style="width:100%" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{# each bundle.products}}

                                    <tr>

                                        <td>
                                            {{this.productName}}
                                        </td>

                                        <td>
                                            <a href="/promotions/BundleProducts/delete/{{../bundle._id}}/{{this._id}}"
                                                class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <p>You need to complete product registration with image in specification section.
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="box">
        <div id="#price"></div>
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px;"></li><span>Price</span><span
                style="float:right" id="sp">+</span>
        </button>

        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

                        <div class="well" style="background-color: white; ">
                            <form action="/promotions/SaveUpdateBundlePrice" method="POST">
                                <input type="hidden" class="form-control inp" name="id" id="id" value="{{bundle._id}}">
                                    <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="total">Total Selling price</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="total" id="total" value="{{bundle.total}}">
                                    </div>
                                </div>
                                <br>
                                <div class="row" id="discount_amount">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="sellingPrice">Bundle Selling Price
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="sellingPrice" id="sellingPrice" value="{{bundle.sellingPrice}}" required>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-primary btn-md">Update Info</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{# if bundle.usePercentage}}
<script>
    document.getElementById("discount_percentage").style.display = "block";
    document.getElementById("discount_amount").style.display = "none";
</script>
{{else}}
<script>
    document.getElementById("discount_percentage").style.display = "none";
    document.getElementById("discount_amount").style.display = "block";
</script>
{{/if}}




</div>