<%- include('../partials/_head') %>

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Registered</b>Admins</a>
    </div>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>BRANCH</th>
                <th>ROLE</th>
                <th>DATE</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>

            <% for(let i=0; i< users.length; i++){ %>
           
            <tr>
                <td><%=users[i].count%></td>
                <td><%=users[i].email%></td>
                <td class="notranslate"><%=users[i].name%></td>
                <td class="notranslate"><%=users[i].branch%></td>
                <td class="notranslate"><%=users[i].role%></td>
                <td ><%=moment(users[i].date).format( 'MMM-DD-YYYY')%></td>
                <td>
                    <a href="/users/Edit/<%=users[i]._id%>" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-primary btn-sm" > Edit</a>
                    
                </td>
            </tr>
           
            <% } %>
            </tbody>
        </table>

    </div>

</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>
<%- include('../partials/_footer') %>
