<div class="container-fluid" style="width:100%;min-height: 700px">

    <div class="register-logo">
        <a href="#"><b>Registered</b>Customers</a><br>
        <a class="btn btn-primary btn-sm"  href="/customers/email/page">Email All</a>
    </div>
   
    {{# if customer}}

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>EMAIL</th>
                <th>NAME</th>
                <th>CONTACT</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            {{# each customer}}
            <tr>
                <td>{{this.count}}</td>
                <td>{{this.email}}</td>
                <td>{{this.profile.name}}</td>
                <td>{{this.contact}}</td>
                <td>{{# if this.status}}<span  class="tags">Active</span>{{else}}<span  class="tags"  style="background: rgb(202, 111, 129)">Blocked</span>{{/if}}</td>
                <td>
                    <a href="/customers/profile/{{this._id}}" class="btn btn-primary btn-sm">Details</a>
                            {{# if this.status}}
                            <a href="/customers/block/{{this._id}}" class="btn btn-primary btn-sm">Block</a>
                            {{else}}
                            <a href="/customers/unblock/{{this._id}}" class="btn btn-primary btn-sm">Unblock</a>
                            {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <div class="row">
         
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">

                        <div class="col-md-2 ">
                            <strong>Email</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>Name</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>Contact</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>Status</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>Action</strong>
                        </div>

                    </div>
                </li>

                {{# each customer}}

                <li class="list-group-item">

                    <div class="row">
                        <div class="col-md-2 ">
                           {{this.email}}
                        </div>

                        <div class="col-md-2 ">
                           {{this.profile.name}}
                        </div>
                        <div class="col-md-2 ">
                           {{this.contact}}
                        </div>
                        <div class="col-md-2 ">
                            {{# if this.status}}
                            <span  class="tags">Active</span>
                            {{else}}
                            <span  class="tags"  style="background: rgb(202, 111, 129)">Blocked</span>
                            {{/if}}
                        </div>
                        <div class="col-md-2 ">
                            <a href="/customers/profile/{{this._id}}" class="btn btn-default">Details</a>
                            {{# if this.status}}
                            <a href="/customers/block/{{this._id}}" class="btn btn-default">Block</a>
                            {{else}}
                            <a href="/customers/unblock/{{this._id}}" class="btn btn-default">Unblock</a>
                            {{/if}}
                          
                        </div>
                    </div>
                </li>
                
                {{/each }}
            </ul>
        </div>
    </div> --}}
    {{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2 id="search-result" onclick="searchPartial()">No Item in found</h2>
        </div>
    </div>
    {{/if}}
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>