
<%- include('../partials/_head') %>

<div class="container-fluid" style="width:100%;min-height: 700px">
<div class="register-logo">
            <a href="#"><b>Product</b>Details</a>
        </div>
        <div class="row">
            <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport"
                onclick="javascript:xport.toXLS('ptable');">
                <li class="fa fa-download" style="padding: 5px"></li>Export as Excel
            </button>
            
        </div><br>

    
    <div style="background-color: white">
        
        <table id="ptable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>PRODUCT ID</th>
                    <th>PRODUCT NAME</th>
                    <th>SERIAL NO</th>
                    <th>LP NO</th>
                    <th>INVOICE NO</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< serials.length; i++){ %>

                <tr>
                    <td><%=serials[i].count%></td>
                    <td><%=serials[i].sid%></td>
                    <td><%=serials[i].pid.name%></td>
                    <td><%=serials[i].number%></td>
                    <td><a href="/purchase/localPurchase/<%=serials[i].lp.number%>"><%=serials[i].lp.number%></a></td>
                    <td><a href="/orders/ViewInvoice/<%=serials[i].invoice._id%>"><%=serials[i].invoice.invoiceId%></a></td>
                    <td><%=serials[i].status%></td>
                </tr>

                <% } %>

            </tbody>
        </table>
    </div>
</div>
<br>
<%- include('../partials/_footer') %>
