<div class="container-fluid">


    <div class="box">
        <div id="#PRODUCT"></div>
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px;"></li><span>PRODUCT INFO</span><span
                style="float:right" id="sp">+</span>
        </button>

        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

                        <div class="well" style="background-color: white; ">
                            <form action="" id="save_inventory">
                                <input type="hidden" class="form-control inp" name="serial" id="serial">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="invoice">LP Invoice<span style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control inp" name="invoice" id="invoice" required>
                                            <option value="">select One</option>
                                            {{# each LocalPurchase}}
                                            <option value="{{this._id}}">{{this.number}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                    <div class="col-md-5 col5" style="width:16.667%">
                                        <label class="lbl" for="date">Date</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control inp" name="date" id="date">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="supplier">Supplier
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="supplier" id="supplier">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="products_invoice">Product<span
                                                style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control inp" name="products_invoice" id="products_invoice"
                                            required>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="category">Category
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="category" id="category">
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="subcategory">Sub Category
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="subcategory" id="subcategory">
                                    </div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="brand">Brand
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="brand" id="brand">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="quantity">Quantity
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="quantity" id="quantity">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="unitPrice">Unit Price
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="unitPrice" id="unitPrice">
                                    </div>
                                </div>
                                <br>
                               
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="model">Model
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="model" id="model">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="name">Title<span style="color:red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="name" id="name" required>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="warranty">Warranty(In days)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="warranty" id="warranty"
                                             required>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="description">Description</label>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea type="text" class="form-control inp" name="description"
                                            id="description"></textarea>
                                    </div>
                                </div>
                                <br>
                              
                                <br>
                                <div id="space">
                                  
                                </div>
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-default btn-md">Save</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
  $(document).ready(function () {
    $('#save_inventory').validate({ // initialize the plugin
      rules: {
        name: {
          alphanumeric: true,
          required: true,
          maxlength: 30
        },
        warranty: {
            required: false,
            digits: true,
            min:1
        },
        description: {
          required: false
        }
      },
      submitHandler: function (form) { 
        
        return false; 
      }
    });
  });
</script>
    </div>
    <div class="box">
        <button class="collapsible active"><span style="float:left ">
                <li class="fa fa-cog panel-icon"></li>
                PRICE
            </span><span style="float:right" id="sp">+</span></button>
        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{productentry_msg}}</h4>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <button class="collapsible active"><span style="float:left ">
                <li class="fa fa-cog panel-icon"></li>
                SPECIFICATIONS
            </span><span style="float:right" id="sp">+</span></button>
        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{productentry_msg}}</h4>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <button class="collapsible">
            <li class="fa fa-picture-o panel-icon" style="padding: 5px"></li><span>IMAGES</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{ productentry_msg }}</h4>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="box">
        <div id="tag1"></div>
        <button class="collapsible"><span style="float:left ">
                <i class="fa fa-tag" aria-hidden="true"></i>
                </li>PRODUCT TAG
            </span><span style="float:right" id="sp">+</span></button>
        <div class="content" style="background-color: white;min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{productentry_msg}}</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <button class="collapsible">
            <li class="fa fa-object-group panel-icon" style="padding: 5px"></li><span>RELATED PRODUCT</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white;min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{productentry_msg}}</h4>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="box">
        <div id="Shipping1"></div>
        <button class="collapsible"><span style="float:left ">
                <i class="fa fa-truck panel-icon" aria-hidden="true"></i>
                </li>SHIPPING
            </span><span style="float:right" id="sp">+</span></button>
        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <h4>{{productentry_msg}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>