<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>LocalPurchase</b>List</a>
    </div>
  
    <div style="background-color: white">
        <table id="ptable"  class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>LP Number</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Mobile</th>
                <th>Sub Total</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            {{# each lp}}
            <tr>
                <td>{{this.count}}
                <td>{{this.number}}</td>
                <td>{{formatDate this.date}}</td>
                <td>{{this.supplier.cname}}</td>
                <td>{{this.address}}</td>
                <td>{{this.contactPerson}}</td>
                <td>{{this.mobile}}</td>
                <td>{{formatNumber this.subTotal}} TK</td>
                <td>
                    <a class="btn btn-default" href="/purchase/localPurchase/{{this.number}}">Details</a>
                    <a class="btn btn-default" href="/purchase/productList/{{this._id}}">List</a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>