<%- include('../partials/_head') %>
<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>LocalPurchase</b>List</a>
    </div>

    <div style="background-color: white">
        <table id="ptable"  class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>LP Number</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Mobile</th>
                <th>Sub Total</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
        <% for(var i = 0; i< lp.length; i++) { %>
            <tr>
                <td><%=lp[i].count %>
                <td><%=lp[i].number %></td>
                
                <td><%= moment(lp[i].date).format( 'Do MMMM, YYYY')  %></td>
                <td><%=lp[i].supplier.cname %></td>
                <td><%=lp[i].address %></td>
                <td><%=lp[i].contactPerson %></td>
                <td><%=lp[i].mobile %></td>
                <!-- formatNumber -->
                <td><%= lp[i].subTotal%> TK</td>
                <td>
                    <a class="btn btn-default" href="/purchase/localPurchase/<%=lp[i].number %>">Details</a>
                    <a class="btn btn-default" href="/purchase/productList/<%=lp[i]._id %>">List</a>
                </td>
            </tr>
        <% } %>
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>
<%- include('../partials/_footer') %>